<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      var process = {
        env: {
          NODE_ENV: ''
        }
      }
    </script>
    <% if (htmlWebpackPlugin.options.hot) { %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.port %>/webpack-dev-server.js"></script>
    <% } %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/github-markdown-css/github-markdown.css"/>
    <%= htmlWebpackPlugin.options.header %>
  </head>

  <body>
    <div id="root"></div>
    <script
      crossorigin
      src="https://unpkg.com/react@16/umd/react.<%= htmlWebpackPlugin.options.development ? "development" : "production.min" %>.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@16/umd/react-dom.<%= htmlWebpackPlugin.options.development ? "development" : "production.min" %>.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-is@16/umd/react-is.<%= htmlWebpackPlugin.options.development ? "development" : "production.min" %>.js"
    ></script>
    <%= htmlWebpackPlugin.options.footer %>
  </body>
</html>
